In [8]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import datetime as dt
import time
import re

In [9]:
!which chromedriver

/usr/local/bin/chromedriver

In [10]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
time.sleep(1)

In [12]:
html_string = browser.html

In [13]:
soup = bs(html_string, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [14]:
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [15]:
title = soup.find("div", class_="list_text").find("div", class_="content_title").text

In [16]:
art_para = soup.find("div", class_="list_text").find("div", class_="article_teaser_body").text

Second URL visit

In [17]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
time.sleep(1)

In [18]:
browser.find_by_id('full_image').click()

In [19]:
browser.links.find_by_partial_text('more info').click()

In [20]:
html_string = browser.html

In [21]:
soup = bs(html_string, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [22]:
image = soup.find("img", class_="main_image")['src']
print(image)

/spaceimages/images/largesize/PIA17936_hires.jpg

In [23]:
imagebase = "https://www.jpl.nasa.gov"

In [24]:
featured_image_url = imagebase + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17936_hires.jpg

In [ ]:
# 3rd task

In [25]:
url = 'https://space-facts.com/mars/'

In [26]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [28]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#4th task

In [29]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
time.sleep(1)

In [30]:
aelement = browser.find_by_css('a.product-item h3')[0]

In [31]:
firsttext = aelement.text

In [32]:
aelement.click()

In [33]:
firsturl = browser.links.find_by_text('Sample')[0]['href']

In [34]:
browser.back()

In [35]:
aelement = browser.find_by_css('a.product-item h3')[1]

In [36]:
secondtext = aelement.text

In [37]:
aelement.click()

In [38]:
secondurl = browser.links.find_by_text('Sample')[0]['href']

In [39]:
browser.back()

In [40]:
aelement = browser.find_by_css('a.product-item h3')[2]

In [41]:
thirdtext = aelement.text

In [42]:
aelement.click()

In [43]:
thirdurl = browser.links.find_by_text('Sample')[0]['href']

In [44]:
browser.back()

In [45]:
aelement = browser.find_by_css('a.product-item h3')[3]

In [46]:
fourthtext = aelement.text

In [47]:
aelement.click()

In [48]:
fourthurl = browser.links.find_by_text('Sample')[0]['href']

In [49]:
hemisphere_image_urls = [
    {"title": firsttext, "img_url": firsturl},
    {"title": secondtext, "img_url": secondurl},
    {"title": thirdtext, "img_url": thirdurl},
    {"title": fourthtext, "img_url": fourthurl},
]

In [50]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [9]:
browser.quit